@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 45rem;
  margin: 0 auto;
}

.navigation {
  background: linear-gradient(90deg, rgba(107,107,107,1) 0%, rgba(173,173,160,1) 64%, rgba(252,255,186,1) 100%);
  padding: 1rem 0;
  font-size: 1.2rem;
  color: white;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  margin: 0 auto;
}

.main__content {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.main__img {
  border-radius: 50%;
}

.personal__data {
  font-size: 3rem;
}

.contact {
  margin-top: 2rem;
  line-height: 1.5rem;
}

.contact__list {
  margin-top: 1.5rem;
}

.section__title {
  text-align: center;
  font-size: 2rem;
}

.about__myself,
.skills,
.code__example,
.education,
.languages {
  margin-top: 10rem;
}

.text,
.skills__list,
.code__example pre,
.education__list,
.languages__list {
  margin-top: 1.7rem;
  line-height: 1.5rem;
}

.skills__list,
.education__list,
.languages__list {
  list-style-type: circle;
}

.languages {
  margin-bottom: 2rem;
}